/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
}

header{
    height: 5rem;
    background-color: white;
}

h3{
    font-size: 1rem;
    color: whitesmoke;
    padding: 1rem;
}

footer{
    background-color: black;
    text-align: center;
}

h4{
    position: fixed;
    bottom: 2px;
    right: 20px;
}

.ul{
    color: black;
}

.nav-color{
    background-color: white !important;
}

/* estilos del main */

.div-nav{
    margin-left: 40%;
}

#div-home{
    background-image: url(../img/main-portada.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: whitesmoke;
    padding: 8rem;
}

#div-home h1{
    font-weight: 900;
}

.reserva{
    display: flex;
    color: black;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.section-home{
    margin-top: 3rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 2fr);
    gap: 0.2rem;
}

.caba-rosa{
    background-image: url(../img/habitacion-rosa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
}

.caba-celeste{
    background-image: url(../img/habitacion-celeste.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
}

.caba-amarilla{
    background-image: url(../img/habitacion-amarilla.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
}

.caba-verde{
    background-image: url(../img/habitacion-verde.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
}

#caba{
    text-align: center;
}

#link-caba{
    text-decoration: none;
    color: whitesmoke;
}

section div a ul{
    padding-left: 0;
}

/* estilos de contacto */

#box-contacto h1{
    margin-top: 1rem;
    margin-left: 1.2rem;
    padding-bottom: 20px;
    font-weight: 700;
}

#box-contacto label{
    display: block;
    margin-bottom: 10px;
    margin-left: 1.2rem;
}

#box-contacto input,
#box-contacto textarea{
    width: 80rem;
    padding: 10px;
    margin-left: 1.2rem;
}

#boton-contacto{
    background-color: black;
    color: whitesmoke;
    margin-left: 1.2rem;
    padding: 0.5rem 2rem;
    font-weight: 300;
}

#box-img-ct{
    display: flex;
    margin-top: 2rem;
}

#box-mapa{
    margin-left: 18rem;
    margin-top: 2rem;
    display: flex;
    width: 55%;
    justify-content: center;
    background-color: black;
    padding: 1rem;
    border-radius: 15px 15px 15px 15px;
}

.box-telefono, .box-direccion, .box-mail{
    text-align: center;
    margin-bottom: 2rem;
    padding: 5rem;
    color: whitesmoke;
    width: 100%;
}
.box-telefono{
    background-image: url(../img/contacto-telefono.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-direccion{
    background-image: url(../img/contacto-mapa.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-mail{
    background-image: url(../img/contacto-mail.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* estilos de promos */

.grid-promos{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: repeat(3, 1fr);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.grid-box{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.box-dos{
    background-image: url(../img/promo-uno.jpg);
    padding: 10rem;
    grid-column: span 2;
}

.box-cuatro{
    background-image: url(../img/promo-dos.jpg);
    padding: 10rem;
    grid-column: span 2;
}

.box-seis{
    background-image: url(../img/promo-tres.jpg);
    padding: 10rem;
    grid-column: span 2;
}

.box-uno, .box-tres, .box-cinco{
    background-color: black;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.texto-promo{
    margin-top: 1rem;
}

.boton-promo{
    background-color: whitesmoke;
    padding: 0.6rem;
}

/* estilos de servicios */

.box-servicios{
    display: flex;
    padding: 5rem;
    justify-content: center;
    gap: 4rem;
    text-align: center;
    font-weight: 700;
}

.box-servicios div p{
    margin-top: 1rem;
}

/* estilos de galeria */

.box-galeria{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(4, 25%);
    padding: 2rem;
    row-gap: 0.6rem;
    column-gap: 0.6rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.fotos{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8rem;
}

.foto-uno{
    background-image: url(../img/galeria-uno.jpg);
    grid-column: span 2;
}

.foto-dos{
    background-image: url(../img/galeria-dos.jpg);
}

.foto-tres{
    background-image: url(../img/galeria-tres.jpg);
}

.foto-cuatro{
    background-image: url(../img/galeria-cuatro.jpg);
    grid-column: span 2;
}

.foto-cinco{
    background-image: url(../img/galeria-cinco.jpg);
    grid-row: span 2;
}

.foto-seis{
    background-image: url(../img/galeria-seis.jpg);
}

.foto-siete{
    background-image: url(../img/galeria-siete.jpg);
    grid-column: span 3;
}

#body-galeria{
    background-color: black;
}

/* mq para mobile */

@media screen and (max-width:600px){
    /* estilos de inicio-mobile */
    .reserva{
        display: block;
        text-align: center;
    }
    
    .boton-reserva{
        color: whitesmoke;
        background-color: black;
        padding: 0.3rem;
    }

    .section-home{
        display: block;
    }

    footer{
        text-align: start;
    }

    .div-nav{
        margin-left: 0;
    }

    /* estilos de contacto-mobile */

    #box-contacto div h1{
        text-align: center;
    }

    #box-contacto input,
    #box-contacto textarea{
        width: 75vh;
    }

    #box-img-ct{
        display: block;
        margin-bottom: 1rem;
        overflow: hidden;
        
    }

    .box-telefono, .box-direccion, .box-mail{
        margin-bottom: 0;
    }

    #box-mapa{
        display: none;
    }

    /* estilos de promos-mobile */

    .grid-promos{
        overflow: hidden;
        max-width: 100vh;
        height: auto;
        grid-template-columns: 50% 50%;
    }

    .box-dos{
        grid-column: span 1;
    }

    .box-cuatro{
        grid-column: span 1;
    }

    .box-seis{
        grid-column: span 1;
    }

    /* estilos de servicios-mobile */

    .box-servicios{
        display: block;
    }

    /* estilos de galeria-mobile */

    .box-galeria{
        overflow: hidden;
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 33%);
        
    }

    .foto-cinco, .foto-uno, .foto-cuatro, .foto-siete{
        display: none;
    }
}