/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
}

header{
    height: 5rem;
    background-color: white;
}

h3{
    font-size: 1rem;
    color: whitesmoke;
    padding: 1rem;
}

footer{
    background-color: black;
    text-align: center;
}

h4{
    position: fixed;
    bottom: 2px;
    right: 20px;
}

/* estilos del main */

.div-nav{
    margin-left: 40rem;
}

#div-home{
    background-image: url(../img/main-portada.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: whitesmoke;
    padding: 8rem;
}

#div-home h1{
    font-weight: 900;
}

.reserva{
    display: flex;
    color: black;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.section-home{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 2fr);
    gap: 0.2rem;
}

.caba-rosa{
    background-image: url(../img/habitacion-rosa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
}

.caba-celeste{
    background-image: url(../img/habitacion-celeste.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
}

.caba-amarilla{
    background-image: url(../img/habitacion-amarilla.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
}

.caba-verde{
    background-image: url(../img/habitacion-verde.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
}

#caba{
    text-align: center;
}

#link-caba{
    text-decoration: none;
    color: whitesmoke;
}

/* estilos de contacto */

#box-contacto h1{
    margin-top: 1rem;
    margin-left: 1.2rem;
    padding-bottom: 20px;
    font-weight: 700;
}

#box-contacto label{
    display: block;
    margin-bottom: 10px;
    margin-left: 1.2rem;
}

#box-contacto input,
#box-contacto textarea{
    width: 80rem;
    padding: 10px;
    margin-left: 1.2rem;
}

#boton-contacto{
    background-color: black;
    color: whitesmoke;
    margin-left: 1.2rem;
    padding: 0.5rem 2rem;
    font-weight: 300;
}

#box-img-ct{
    display: flex;
    margin-top: 5rem;
}

.box-telefono, .box-direccion, .box-mail{
    text-align: center;
    margin-bottom: 2rem;
    padding: 5rem;
    color: whitesmoke;
    width: 100%;
}
.box-telefono{
    background-image: url(../img/contacto-telefono.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-direccion{
    background-image: url(../img/contacto-mapa.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-mail{
    background-image: url(../img/contacto-mail.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}