// imports
@import "../utilidades/vars";
@import "../utilidades/extend";
@import "../utilidades/mixin";

/* estilos de contacto */
.contacto-map{
    display: flex;
    justify-content: center;
    align-items: center;
    #box-contacto{
        width: 40%;
        div{
            h1{
                @include contacto-h1;
            }
            form{
                margin-left: 1rem;
                label{
                    @include contacto-label;
                }
                .area-ct, .input-ct{
                    @extend %medida-ct;
                }
                .boton-contacto{
                    @include contacto-btn;
                }
                .boton-contacto:hover{
                    background-color: #333;
                }
            }
        }
    }
}
    

.box-img-ct{
    display: flex;
    margin-top: 2rem;
    .box-telefono{
        @extend %box-contacto;
        @include contacto-img(url(../img/contacto-telefono.jpeg))
    }
    .box-direccion{
        @extend %box-contacto;
        @include contacto-img(url(../img/contacto-mapa.jfif))
    }
    .box-mail{
        @extend %box-contacto;
        @include contacto-img(url(../img/contacto-mail.jpg))
    }
}

.box-mapa{
    @include mapa;
    
}

/* mq para mobile */
@media screen and (max-width:600px){
    #box-contacto{
        display: none; 
    }

    .box-img-ct{
        @include box-img;
        .box-telefono{
            margin-bottom: 0;
        }
        .box-direccion{
            margin-bottom: 0;
        }
        .box-mail{
            margin-bottom: 0;
        }
        .box-ct{
            width: 33.33%;
        }
    }

    .box-mapa{
        display: none;
    }
}

/* mq para tablet */
@media screen and (min-width: 600px) and (max-width: 1024px){
    main{
        #box-contacto{
            display: none;
        }
        .box-mapa{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 0px;
        }
    }
}