// imports

@import "../utilidades/vars";
@import "../utilidades/mixin";
@import "../utilidades/extend";

/* estilos de promos */
main{
    .grid-promos{
        @include grid-promos;
        .grid-box{
            @include background;
            width: 100%;
            p{
                margin-left: 10px;
                margin-right: 10px;
                font-size: 1.3rem;
            }
            .texto-promo{
                margin-top: 1rem;
            }
            .boton-promo{
                @include promo-btn;
            }
            .boton-promo:hover{
                background-color: lightgray;
                cursor: pointer;
            }
        }
        .box-dos{
            background-image: url(../img/promocion-uno.png);
            padding: 10rem;
            grid-column: span 2;
        }
        .box-cuatro{
            background-image: url(../img/promocion-dos.png);
            padding: 10rem;
            grid-column: span 2;
        }
        .box-seis{
            background-image: url(../img/promocion-tres.jfif);
            padding: 10rem;
            grid-column: span 2;
        }
        .box-uno{
            @extend %box-promo;
        }
        .box-tres{
            @extend %box-promo;
        }
        .box-cinco{
            @extend %box-promo;
        }
    }
}

/* mq para mobile */
@media screen and (max-width:600px){
    main{
        .grid-promos{
            @include promos-mobile;
            .box-dos{
                grid-column: span 1;
            }
            .box-cuatro{
                grid-column: span 1;
            }
            .box-seis{
                grid-column: span 1;
            }
        }
    }
}