// imports

@import "../utilidades/vars";
@import "../utilidades/mixin";
@import "../utilidades/extend";

/* estilos de servicios */
main .box-servicios{
    @include servicios;
    div{
        p{
            margin-top: 1rem;
            color: $color-footer;
        }
    }
}

/* mq para mobile */
@media screen and (max-width:600px){
    main{
        .box-servicios{
            display: block;
        }
    }
}