// imports

@import "../utilidades/vars";
@import "../utilidades/mixin";
@import "../utilidades/extend";

/* estilos de servicios */
main .box-servicios{
    @include servicios;
    div{
        p{
            margin-top: 1rem;
            color: $color-footer;
        }
    }
}

/* mq para mobile */
@media screen and (max-width:600px){
    main{
        .box-servicios{
            display: block;
        }
    }
}

/* mq para tablet */
@media screen and (min-width: 600px) and (max-width: 1024px){
    main{
        .box-servicios{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
    }
}