// extend

%medida-ct{
    width: 80rem;
    padding: 10px;
    margin-left: 1.2rem;
}

%box-contacto{
    text-align: center;
    margin-bottom: 2rem;
    padding: 5rem;
    color: $color-principal;
    width: 100%;
}

%box-promo{
    background-color: $color-footer;
    color: $color-principal;
    justify-content: center;
    align-items: center;
    text-align: center;
}
